<% var email = message.address ; %> 
<% var value_ID = decodeURIComponent(digestStrSha256(email.toLowerCase())); %>  
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml><![endif]-->
<!-- CIT1189 C5 Aircross comfort -->
<!-- cit1189_c5c_ -->
<!-- CIT1189 C5 Aircross test-002 -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>C5 Aircross Hybrid - order yours now</title>

  <!-- load google font 'Poppins' -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
  <style type="text/css">
  [style*='Ubuntu'] {
    font-family: 'Ubuntu', Arial, sans-serif !important;
    font-weight:400 !important;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  table {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    border-spacing: 0;
    mso-line-height-rule: exactly;
    mso-margin-bottom-alt: 0;
    mso-margin-top-alt: 0;
  }

  /* suppress auto-generated links on dates/phone numbers/email addresses */
  a[x-apple-data-detectors]{
    color:inherit !important;
    text-decoration:none !important;
    font-size:inherit !important;
    font-family:inherit !important;
    font-weight:inherit !important;
    line-height:inherit !important;
  }
.shadow{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

td.bodycopy a{color:#414042 !important;}
.footer a{color:#ffffff !important;}
table.flowTablex{display:inline-block !important;}

.mshow{
  display: none !important;
  font-size: 0 !important;
  mso-hide: all;
  /* hide elements in Outlook 2007-2013 */
  float: left;
}
/* outlook lineheight fix */
.ExternalClass * {line-height: 100%}
.supx1{line-height: 75%;font-size: 75%;vertical-align: top;}
strong{font-weight:800 !important;}

@media (max-width: 600px) {
  td.desktopbg{padding-bottom:0 !important;background-image:none !important;}
  div.wrapper{width:100% !important;margin-left:0 !important;margin-right:0 !important;}
  table.emailBody,
  table.flowTable{display:table !important;width:100% !important;margin-left:0 !important;margin-right:0 !important;}

  td.fullwidth{width:100% !important;}
  td.mgutters{padding-left:30px !important;padding-right:30px !important;}

  td.mcal{text-align:center !important;}
  td.mcenter{text-align:center !important;}
  img.mcenter{margin-left:auto !important;margin-right:auto !important;}
  td.bc2{padding-right:0px !important;text-align:center !important;display:block !important;width:100% !important;}
  table.bc2{margin-left:auto !important;margin-right:auto !important;text-align:center !important;float:none !important;}
  td.blockcell{display:block !important;width:100% !important;}

  td.mfooter{padding-top:24px;}
  td.mhspan10 img{width:10px;height:100% !important;}
  td.mhspan50 img{width:50px;height:100% !important}

  td.morh1 img{}
  td.morh2,td.morh3,td.morh4,td.morh5,td.morh6{position:relative;}
  td.morh2 img,td.morh3 img,td.morh4 img,td.morh5 img,td.morh6 img{width:100% !important;height:100% !important;position:absolute;left:0px;top:0px;}

  div.topPosition{width:100%;padding-top:93.5%;padding-bottom:22%;position:relative;}
  div.topPosition2{width:100%;}
  a.view,a.configure{width:40%;display:inline-block;}
  a.view{float:left;margin-left:5%;}
  a.configure{float:right;margin-right:5%;}

  table.logoTable{width:120px !important;margin-left:auto !important;margin-right:0 !important;}
    div.mshow,tr.mshow,td.mshow{
      float: none !important;
      height: auto !important;
      max-height: inherit !important;
      overflow: visible !important;
      width: auto !important;
      font-size: inherit !important;
    }
    div.mshow{display: block !important;}
    tr.mshow{display: table-row !important;}
    td.mshow{display: table-cell !important;}
    br.mhide,tr.mhide,td.mhide{
      display: none !important;
      mso-hide: all;
      font-size:0px  !important;
      max-height:0px  !important;
      height:0px  !important;
      float:left  !important;
      overflow:hidden  !important;
    }
}
@media (max-width: 375px) {
  div.topPosition{padding-top:87%;padding-bottom:12%;}
  a.view,a.configure{width:40%;display:block;float:none;clear:both;margin-left:auto;margin-right:auto;}
  a.view{margin-bottom:5px;}
  a.configure{}
}
</style>
<!--[if !mso]><!-->
<style type="text/css">
td.desktopbg{padding-bottom:243px !important;}
</style>
<!--<![endif]-->

<!--[if gte mso 9]>
<style type="text/css">
.supx1{line-height: 20px;mso-text-raise:-20%;font-size:20px;}
td.desktopbg{padding-bottom:0px !important}
</style>
<![endif]-->
<!--[if mso 16]>
<style type="text/css">
.supx1{line-height: 20px;mso-text-raise:-20%;font-size:20px;}
td.desktopbg{padding-bottom:0px !important}
</style>
<![endif]-->
    </head>

<body bgcolor="#eeeeee" style="-webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; margin:0; padding:0">
<!--[if gte mso 9]>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td><![endif]-->
<div class="wrapper" style="margin-bottom:20px;margin-left:auto;margin-right:auto;width:600px;display:block">

<table cellpadding="0" cellspacing="0" width="600" style="margin-left:auto;margin-right:auto;background-color:#ffffff" align="center" class="emailBody">
    <tr>
        <td valign="top" align="center" style="border-radius:6px 6px 0 0;background-color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu'; color:#ffffff; font-size:12px; padding-top:24px;mso-line-height-rule:exactly;padding-bottom:24px">C5 Aircross Hybrid - order yours now</td>
    </tr>
    <tr>
        <td valign="top" align="center" style="background-color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu'; color:#ffffff; font-size:10px; padding-bottom:10px;mso-line-height-rule:exactly">If you are unable to view this message correctly, <a href="#" target="_blank" style="color:#ffffff; text-decoration:underline">click here</a></td>
    </tr>

    <!-- 600px min-width for google mail android app - force display of desktop version -->
    <!-- https://litmus.com/community/discussions/274-force-gmail-app-to-render-desktop-version -->
    <tr class="mhide">
        <td style="min-width:600px;width:600px;height:1px;line-height:1px;font-size:1px">&nbsp;</td>
    </tr>

          <tr>
            <td style="padding-bottom:6px;" align="right">
              <table cellpadding="0" cellspacing="0" style="width:600px" width="600" class="logoTable">
                <tr>

                  <td style="width:480px;padding-left:50px;padding-top:40px;" width="480" class="mhide"><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID" src="img/cit1189_c5c_t1_d.png" style="display:block;border-style:none;"></td>
                  <td style="width:113px;" width="113"><a href="#[citroen]" target="_blank" title="citroen"><img alt="" src="img/cit1189_c5c_logo.png" style="display:block;border-style:none;"></a></td>
                  <td style="width:7px;" width="7"><img alt="" src="img/cit1189_c5c_tricolor.png" style="display:block;border-style:none;"></td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- mobile hero main START -->
          <!--[if !mso]><!-->
          <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
            <td>
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                <tr>
                  <td><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_mb1.jpg" style="display:block;border-style:none;width:100%;"></td>
                </tr>
                <tr>
                  <td><a href="#[sales-enquiry]" target="_blank" title="SALES ENQUIRY"><img alt="SALES ENQUIRY" src="img/cit1189_c5c_hero_mb2.jpg" style="display:block;border-style:none;width:100%;"></a></td>
                </tr>
                <tr>
                  <td><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_mb3.jpg" style="display:block;border-style:none;width:100%;"></td>
                </tr>
                <tr>
                  <td><a href="#[build-yours]" target="_blank" title="BUILD YOURS"><img alt="BUILD YOURS" src="img/cit1189_c5c_hero_mb4.jpg" style="display:block;border-style:none;width:100%;"></a></td>
                </tr>
                <tr>
                  <td><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_mb5.jpg" style="display:block;border-style:none;width:100%;"></td>
                </tr>
              </table>
              </td>
          </tr>
          <!--<![endif]-->
          <!-- mobile hero main END -->

          <!-- desktop hero main START -->
          <tr class="mhide">
            <td>
              <table cellpadding="0" cellspacing="0" width="600" style="width:600px;">
                <tr>
                  <td><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_d1.jpg" style="display:block;border-style:none;"></td>
                </tr>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" width="600" style="width:600px;">
                    <tr>
                      <td width="140" style="width:136px;"><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_d21.jpg" style="display:block;border-style:none;"></td>
                      <td width="155" style="width:155px;"><a href="#[sales-enquiry]" target="_blank" title="SALES ENQUIRY"><img alt="SALES ENQUIRY" src="img/cit1189_c5c_sales-enquiry_d.png" style="display:block;border-style:none;width:100%;"></a></td>
                      <td width="10" style="width:19px;"><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_d22.jpg" style="display:block;border-style:none;"></td>
                      <td width="155" style="width:155px;"><a href="#[build-yours]" target="_blank" title="BUILD YOURS"><img alt="BUILD YOURS" src="img/cit1189_c5c_build-yours_d.png" style="display:block;border-style:none;width:100%;"></a></td>
                      <td width="140" style="width:135px;"><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_d23.jpg" style="display:block;border-style:none;"></td>
                    </tr>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td><img alt="CITRO&Euml;N C5 AIRCROSS SUV - PLUG-IN HYBRID - &Euml;-COMFORT CLASS SUV" src="img/cit1189_c5c_hero_d3.jpg" style="display:block;border-style:none;"></td>
                </tr>
              
              </table>
            </td>
          </tr>
          <!-- desktop hero main END -->

          <!-- desktop hero shared tail START -->
          <tr class="mhide">
            <td><img alt="" src="img/cit1189_c5c_hero2_d.jpg" style="display:block;border-style:none;"></td>
          </tr>
          <!-- desktop hero shared tail END -->

<!-- xi -->          
    <tr class="mhide">
      <td style="background-image:url('img/cit1189_c5c_tail_full_d.jpg');background-position:left bottom;background-repeat:no-repeat;" class="shadow desktopbg">
      <!-- <td class="shadow"> -->
        <table cellpadding="0" cellspacing="0" style="width:600px" width="600" class="flowTable">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" style="width:600px" width="600" class="flowTable">
                <tr>
<!-- l START -->
                <td width="300" style="width:300px;" valign="top" class="blockcell">
                  <table cellpadding="0" cellspacing="0" width="300" style="width:300px;"  class="flowTable">
                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_pic1a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;" class="fullwidth"><img alt="" src="img/cit1189_c5c_pic1b_d.jpg" style="display:block;border-style:none;"></td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_pic1c_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="50" style="width:50px;" class="mhspan10"><img alt="" src="img/cit1189_c5c_block1l_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;background-color:#fff;" valign="top" class="fullwidth">
                        <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                          <tr>
                            <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>EXPERIENCE ADVANCED <br class="mhide">COMFORT SEATS</strong></td>
                          </tr>
                          <tr>
                            <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">Enjoy comfort and support on each and every journey with an innovative seat design that combines high-density foam in the centre with 15mm-thick textured foam on the&nbsp;surface.</td>
                          </tr>
                          <tr>
                            <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                            </tr>
                        </table>
                      </td>
                      <td width="10" style="width:10px;" class="mhspan50"><img alt="" src="img/cit1189_c5c_block1r_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block2a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;" class="fullwidth"><img alt="" src="img/cit1189_c5c_block2b_d.png" style="display:block;border-style:none;"></td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block2c_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_pic2a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_pic2b_d.jpg" style="display:block;border-style:none;"></td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_pic2c_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block2l_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;background-color:#fff;" valign="top">
                        <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                          <tr>
                            <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>A MAGIC CARPET RIDE</strong></td>
                          </tr>
                          <tr>
                            <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">The innovative suspension with Progressive Hydraulic Cushions<sup class="supx1">&reg;</sup> provides unprecedented comfort by filtering out bumps and uneven surfaces at low speed, while ensuring steady road holding at higher&nbsp;speeds.</td>
                          </tr>
                          <tr>
                            <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                            </tr>
                        </table>
                      </td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block2r_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block2a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_block2b_d.png" style="display:block;border-style:none;"></td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block2c_d.png" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_pic3a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_pic3b_d.jpg" style="display:block;border-style:none;"></td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_pic3c_d.png" style="display:block;"></td>
                    </tr>

                <tr>
                  <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block3l_d.png" style="display:block;"></td>
                  <td width="240" style="width:240px;" valign="top">
                      <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                        <tr>
                          <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>3 INDEPENDENT <br class="mhide">REAR SEATS</strong></td>
                        </tr>
                        <tr>
                          <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">The 3 individual full width rear seats provide the same level of comfort and space, wherever you’re sitting in <strong>C5 Aircross SUV&nbsp;Hybrid.</strong>strong><tr>
                          <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                        </tr>
                      </table>
                  </td>
                  <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block3r_d.png" style="display:block;"></td>
                </tr>
                    <tr>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block666a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_block666b_d.png" style="display:block;border-style:none;"></td>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block666c_d.png" style="display:block;"></td>
                    </tr>

                  </table>
                </td>
<!-- l END -->
<!-- 2 START -->
                <td width="300" style="width:300px;" valign="top" class="blockcell">
                  <table cellpadding="0" cellspacing="0" width="300" style="width:300px;" class="flowTable">

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block4l_d.png" style="display:block;"></td>
                      <td width="240" align="center" style="width:240px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;" valign="middle" class="expand">Dear <font style="color:#ca0088;">&lt;Name&gt;</font><br><br>Citro&euml;n C5 Aircross SUV Hybrid is low on emissions and big on comfort, featuring a host of technology and innovations all designed to make every journey as calm and comfortable as&nbsp;possible.</td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block4r_d.png" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_pic4a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_pic4b_d.jpg" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_pic4c_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block5l_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;background-color:#fff;" valign="top">
                        <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                          <tr>
                            <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>SERENE DRIVING</strong></td>
                          </tr>
                          <tr>
                            <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">Thanks to its new e-EAT8 automatic gearbox and silent electric motor, <strong>C5 Aircross SUV Hybrid</strong> offers smooth driving with instant acceleration and welcomes you to new levels of comfort behind the&nbsp;wheel.</td>
                          </tr>
                          <tr>
                            <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                          </tr>
                        </table>
                      </td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block5r_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block12a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_block12b_d.png" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block12c_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_pic5a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_pic5b_d.jpg" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_pic5c_d.png" style="display:block;"></td>
                    </tr>

                    <!-- 250 -->
                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block6l_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;background-color:#fff;" valign="top">
                        <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                          <tr>
                            <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>EXCLUSIVE COMFORT</strong></td>
                          </tr>
                          <tr>
                            <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">Thanks to its Advanced Comfort Seats and Suspension with Progressive Hydraulic Cushions<sup class="supx1">&reg;</sup>, <strong>C5&nbsp;Aircross SUV Hybrid</strong> offers comfort beyond compare for both driver and&nbsp;passengers.</td>
                          </tr>
                          <tr>
                            <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                          </tr>
                        </table>
                      </td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block6r_d.png" style="display:block;"></td>
                    </tr>

                    <!--
                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block13a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_block13b_d.png" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block13c_d.png" style="display:block;"></td>
                    </tr>
                    -->

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block12a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_block12b_d.png" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block12c_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_pic6a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_pic6b_d.jpg" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_pic6c_d.png" style="display:block;"></td>
                    </tr>

                    <!-- 350 -->
                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block7l_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;background-color:#fff;" valign="top">
                        <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                          <tr>
                            <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>ENHANCED <br class="mhide">CONNECTIVITY</strong></td>
                          </tr>
                          <tr>
                            <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">Our latest generation technologies keep you on point with up to 19 features to enhance your comfort, safety and driving&nbsp;pleasure.<br><br>In addition, Connect Nav provides connected navigation for hybrid driving, displaying the closest charging points and your available&nbsp;range.</td>
                          </tr>
                          <tr>
                            <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                          </tr>
                        </table>
                      </td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block7r_d.png" style="display:block;"></td>
                    </tr>

                    <tr>
                      <td width="10" style="width:10px;"><img alt="" src="img/cit1189_c5c_block13a_d.png" style="display:block;"></td>
                      <td width="240" style="width:240px;"><img alt="" src="img/cit1189_c5c_block13b_d.png" style="display:block;border-style:none;"></td>
                      <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_block13c_d.png" style="display:block;"></td>
                    </tr>

                  </table>
      </td>
<!-- 2 END -->
                </tr>
              </table>
            </td>
          </tr>

          <!--
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="600" style="width:600px;">
                <tr>
                  <td width="50" style="width:50px;"><img alt="" src="img/cit1189_c5c_tail1_d.jpg" style="display:block;"></td>
                  <td width="240" style="width:240px;" valign="top">
                      <table cellpadding="0" cellspacing="0" width="240" style="width:240px;" class="flowTable">
                        <tr>
                          <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>3 INDEPENDENT <br class="mhide">REAR SEATS</strong></td>
                        </tr>
                        <tr>
                          <td align="center" style="padding-bottom:20px;padding-left:30px;padding-right:30px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">The 3 individual full width rear seats provide the same level of comfort and space, wherever you’re sitting in <strong>C5 Aircross SUV&nbsp;Hybrid.</strong>strong><tr>
                          <td align="center"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                        </tr>
                      </table>
                  </td>
                  <td width="310" style="width:310px;"><img alt="" src="img/cit1189_c5c_tail2_d.jpg" style="display:block;"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td width="600" style="width:600px;"><img alt="" src="img/cit1189_c5c_tail3_d.jpg" style="display:block;"></td>
          </tr>
          -->

        </table>
      </td>
    </tr>
    <!-- xo -->
    <!--[if !mso]><!-->
    <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
      <!-- bg start -->
            <!-- <td style="background-image:url('img/cit1189_c5c_tail_d.jpg');background-position:left bottom;background-repeat:no-repeat;padding-bottom:243px;background-size:100% auto;"> -->
            <td >
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                <tr>
                  <td style="padding-left:10.5%;padding-right:10.5%;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                      <tr>
                        <td align="center" style="padding-top:33px;padding-bottom:33px;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;" valign="middle" class="expand">Dear <font style="color:#ca0088;">&lt;Name&gt;</font><br><br>Citro&euml;n C5 Aircross SUV Hybrid is low on emissions and big on comfort, featuring a host of technology and innovations all designed to make every journey as calm and comfortable as&nbsp;possible.</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><img alt="" src="img/cit1189_c5c_pic1_m.jpg" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>

               <tr>
                  <td style="">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                      <tr>
                        <td width="10.5%" style="width:10.5%;" class="morh2" valign="top"><img alt="" src="img/cit1189_c5c_blockl_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                        <td  style="width:79%;" valign="top">

                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                            <tr>
                              <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>FLEXIBLE AND <br class="mhide">PROGRAMMABLE <br class="mhide">CHARGING</strong></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:20px;padding-left:5%;padding-right:5%;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">Using a dedicated charging point allows you to charge the battery fully in less than two hours (based on a 32A charging point). You can also use the MyCitro&euml;n app to programme and delay charging so you can benefit from off-peak electricity prices and pre-heat or pre-cool the vehicle before you get&nbsp;in.</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:33px;"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                              </tr>
                          </table>

                        </td>
                        <td width="10.5%" style="width:10.5%;" class="morh2" valign="top"><img alt="" src="img/cit1189_c5c_blockr_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td><img alt="" src="img/cit1189_c5c_blockbg2_m.png" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>
                <tr>
                  <td><img alt="" src="img/cit1189_c5c_pic2_m.jpg" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>

               <tr>
                  <td style="">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                      <tr>
                        <td style="width:10.5%;" class="morh3"><img alt="" src="img/cit1189_c5c_blockl_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                        <td  style="width:79%;" valign="top">
                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                            <tr>
                              <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>SERENE DRIVING</strong></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:20px;padding-left:5%;padding-right:5%;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;"><strong>Citro&euml;n C5 Aircross SUV Hybrid</strong> invites you to experience comfort beyond compare and super smooth drivability, thanks to its new &euml;-EAT8 automatic gearbox, the immediate acceleration of the electric motor and its quiet driving environment.</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:33px;"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                              </tr>
                          </table>
                        </td>
                        <td style="width:10.5%;" class="morh3"><img alt="" src="img/cit1189_c5c_blockr_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td><img alt="" src="img/cit1189_c5c_blockbg2_m.png" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>
                <tr>
                  <td><img alt="" src="img/cit1189_c5c_pic3_m.jpg" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>

               <tr>
                  <td style="">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                      <tr>
                        <td style="width:10.5%;" class="morh4"><img alt="" src="img/cit1189_c5c_blockl_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                        <td  style="width:79%;" valign="top">
                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                            <tr>
                              <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>3 DRIVING MODES</strong></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:20px;padding-left:5%;padding-right:5%;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">The switch located on the central console allows you to toggle between driving&nbsp;modes:<br>Electric only, Hybrid or Sport. In Hybrid mode, the load of the electric motor and the petrol engine is managed automatically.</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:33px;"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                              </tr>
                          </table>

                        </td>
                        <td style="width:10.5%;" class="morh4"><img alt="" src="img/cit1189_c5c_blockr_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><img alt="" src="img/cit1189_c5c_blockbg2_m.png" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>

                <tr>
                  <td><img alt="" src="img/cit1189_c5c_pic4_m.jpg" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>

               <tr>
                  <td style="">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                      <tr>
                        <td style="width:10.5%;" class="morh5"><img alt="" src="img/cit1189_c5c_blockl_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                        <td  style="width:79%;" valign="top">
                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                            <tr>
                              <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>EXCLUSIVE COMFORT</strong></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:20px;padding-left:5%;padding-right:5%;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">Thanks to its Advanced Comfort Seats and Suspension with Progressive Hydraulic Cushions<sup class="supx1">&reg;</sup>, <strong>C5&nbsp;Aircross SUV Hybrid</strong> offers comfort beyond compare for both driver and&nbsp;passengers.</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:33px;"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                              </tr>
                          </table>

                        </td>
                        <td style="width:10.5%;" class="morh5"><img alt="" src="img/cit1189_c5c_blockr_m.png" style="width:100%;display:block;" width="100%" height="100%"></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td><img alt="" src="img/cit1189_c5c_blockbg3_m.png" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>
                <tr>
                  <td><img alt="" src="img/cit1189_c5c_pic5_m.jpg" style="display:block;margin-left:0;margin-right:0;width:100%;height:auto"></td>
                </tr>
                <tr>
                  <td style="">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                      <tr>
                        <td style="width:10.5%;" class="morh6"><img alt="" src="img/cit1189_c5c_tail1_m.jpg" style="width:100%;display:block;" width="100%" height="100%"></td>
                        <td  style="width:79%;" valign="top">
                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                            <tr>
                              <td align="center" style="padding-left:30px;padding-right:30px;padding-top:33px;padding-bottom:20px;color:#007fa4;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:14px;line-height:16px;"><strong>DESIGNED FOR ELECTRIC</strong></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:20px;padding-left:5%;padding-right:5%;color:#333333;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:12px;line-height:16px;">To highlight its hybrid nature, <strong>C5&nbsp;Aircross SUV Hybrid</strong> features specific anodized accents, and a blue indicator light that turns on when the electric only mode is&nbsp;activated.</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:33px;"><a href="#[charging]" target="_blank" title="LEARN MORE"><img alt="LEARN MORE" src="img/cit1189_c5c_learn-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                              </tr>
                          </table>

                        </td>
                        <td style="width:10.5%;" class="morh6"><img alt="" src="img/cit1189_c5c_tail2_m.jpg" style="width:100%;display:block;" width="100%" height="100%"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr><td><img alt="" src="img/cit1189_c5c_tail3_m.jpg" style="width:100%;height:auto;display:block;"></td></tr>
              </table>
            </td>
      <!-- bg end -->
    </tr>
    <!--<![endif]-->
  </table>

  <table cellpadding="0" cellspacing="0" width="600" style="margin-left:auto;margin-right:auto;background-color:#ffffff" align="center" class="emailBody">

    <!-- <tr>
      <td style="background-color:#007fa4;height:2px;font-size:2px;line-height:2px">&nbsp;</td>
    </tr> -->

    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" width="600" style="width:600px;margin-left:auto;margin-right:auto;" class="flowTable">
          <tr>
            <td width="360" style="width:360px;padding-top:15px;padding-bottom:15px;padding-left:50px;" valign="middle" align="left" class="mhide"><img title="INSPIR&Eacute; PAR VOUS" alt="INSPIR&Eacute; PAR VOUS" src="img/cit1189_c5c_inspire-par-vou2.png" style="display:block;boder-style:none;margin-left:0;margin-right:auto;"></td>
            <td width="240" style="width:240px;padding-right:20px;" valign="middle" align="center" class="fullwidth mfooter">
              <table cellpadding="0" cellspacing="0" width="240" style="width:240px;margin-left:auto;margin-right:auto;" >
                <tr>
                  <td style="width:30px;" width="30"><a href="https://www.facebook.com/CitroenUK" target="_blank" title="facebook"><img alt="facebook" src="img/cit1189_c5c_facebook.png" style="display:block;border-style:none;"></a></td>
                  <td style="width:37px;" width="37"><a href="https://twitter.com/citroenuk" target="_blank" title="twitter"><img alt="twitter" src="img/cit1189_c5c_twitter.png" style="display:block;border-style:none;"></a></td>
                  <td style="width:41px;" width="41"><a href="https://www.instagram.com/citroenuk/" target="_blank" title="instagram"><img alt="instagram" src="img/cit1189_c5c_instagram.png" style="display:block;border-style:none;"></a></td>
                  <td style="width:34px;" width="34"><a href="https://www.youtube.com/user/citroenactive" target="_blank" title="youtube"><img alt="youtube" src="img/cit1189_c5c_youtube.png" style="display:block;border-style:none;"></a></td>
                  <td style="width:98px;" width="98"><a href="#[citroen]" target="_blank" title="citro&euml;n.co.uk"><img alt="citro&euml;n.co.uk" src="img/cit1189_c5c_citroen2.png" style="display:block;border-style:none;"></a></td>
                </tr>
              </table>
          </td>
        </table>
      </td>
    </tr>

    <!--[if !mso]><!-->
    <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
      <td style="padding-top:15px;" valign="middle" align="center"><img alt="-" src="img/cit1189_c5c_stripe.png" style="display:block;margin-left:auto;margin-right:auto;"></td>
    </tr>
    <!--<![endif]-->
    <!--[if !mso]><!-->
    <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
      <td style="padding-top:15px;padding-bottom:15px;" valign="middle" align='center'><img alt="INSPIR&Eacute; PAR VOUS" src="img/cit1189_c5c_inspire-par-vou2.png" style="display:block;margin-left:auto;margin-right:auto;"></td>
    </tr>
    <!--<![endif]-->

    <tr>
      <td style="padding-left:50px;padding-right:50px; background-color:#007fa4;border-radius:0 0 6px 6px" class="mgutters">
        <table cellpadding="0" cellspacing="0" style="width:100%" width="100%">
          <tr>
            <td style="padding-top:30px;padding-bottom:40px;font-family:Arial, Helvetica, sans-serif, 'Ubuntu';font-size:11px;line-height:15px;color:#ffffff" class="footer" valign="top">

              Specification varies by model and may be an additional cost&nbsp;option.<br><br>

              Please do not respond to this email as it is sent from an unmonitored&nbsp;address.<br><br>

              To unsubscribe from emails from Citro&euml;n UK Ltd or to manage your contact preferences please <a href="#[contact-preferences]" target="_blank" style="color:#ffffff;text-decoration:underline">click&nbsp;here</a>.<br>To view our Privacy Policy <a href="#[privacy-policy]" target="_blank" style="color:#ffffff;text-decoration:underline">click&nbsp;here</a>.<br><br>For further information on CO<sub style="font-size:70%;line-height:70%;">2</sub> emissions and fuel economy, please visit our <a href="#[terms]" target="_blank" style="color:#ffffff;text-decoration:underline">website</a>.<br><br>Citro&euml;n UK Ltd is incorporated in England and Wales, Company no. 191579. Registered office: Pinley House, 2 Sunbeam Way, Coventry CV3 1ND. Member of the Society of Motor Manufacturers &amp; Traders, no. 74359. VAT Number: GB&nbsp;272&nbsp;3691&nbsp;49</td>
          </tr>
        </table>
      </td>
    </tr>
</table>
</div>
<!--[if gte mso 9]></td>
</tr>
</table>
<![endif]-->

<!-- opentrack / usermatch -->

</body>
</html>
