          <tr>
            <td align="left" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;" class="msidepad">Bright, eye-catching and a lot of fun, <strong>C1</strong> is available with some great features including:<br><br>

<!--[if !mso]><!-->
<ul style="list-style:disc outside; color:#a51048; padding:0 0 0 0px; margin:10px 0 0 1.1em;" class="bulletList">
<li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Stylish design and cheerful interior</li>
<li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;padding-bottom:0.5em;padding-bottom:0.5em;">Airscape model with opening fabric roof</li>
<li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;padding-bottom:0.5em;">Reversing camera for easy parking</li>
<li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Mirror Screen with Apple CarPlay<sup class="supx1">&trade;</sup> MirrorLink<sup class="supx1">&reg;</sup> and Android Auto</li>
<li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;">Keyless entry and drive</li>
</ul>
<!--<![endif]-->
            </td>
          </tr>
<!--[if mso]>
          <tr>
            <td align="left" class="msidepad">
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Stylish design and cheerful interior</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Airscape model with opening fabric roof</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Reversing camera for easy parking</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Mirror Screen with Apple CarPlay<sup class="supx1">&trade;</sup> MirrorLink<sup class="supx1">&reg;</sup> and Android Auto</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-bottom:0.5em;">Keyless entry and drive</td>
                </tr>
              </table>
            </td>
          </tr>
<![endif]-->
