<tr>
  <td>
<!--[if !mso]><!-->
<ul style="list-style:disc outside; color:#a51048; padding:8px 0 0 1.2em; margin:0px 0 0 0;" class="bulletList">
  <li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">Up to seven seats and available in two&nbsp;lengths</li>
  <li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;padding-bottom:0.5em;padding-bottom:0.5em;">Two sliding side&nbsp;doors</li>
  <li style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;padding-bottom:0.5em;">Zenith<sup class="supx1">&reg;</sup> panoramic glass roof with additional storage&nbsp;space^</li>
</ul>
<!--<![endif]-->
</td>
</tr>

<!--[if mso]>
          <tr>
            <td align="left" class="msidepad">
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">Up to seven seats and available in two&nbsp;lengths</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">Two sliding side&nbsp;doors</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">&bull;&nbsp;&nbsp;</td>
                  <td align="left" valign="top" style="font-size:13px;line-height:17px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom:0.5em;">Zenith<sup class="supx1">&reg;</sup> panoramic glass roof with additional storage&nbsp;space^</td>
                </tr>
              </table>
            </td>
          </tr>
<![endif]-->
