                                                  <tr>
                                                    <td style="padding-bottom:16px;">
                                                      <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
                                                      <tr>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">&bull;&nbsp;</td>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">Renew the Air Conditioning Oil and Refrigerant&nbsp;Gas</td>
                                                      </tr>
                                                      <tr>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">&bull;&nbsp;</td>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">Check the Hoses, Cooling Fan and Cabin&nbsp;Filter</td>
                                                      </tr>
                                                      <tr>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">&bull;&nbsp;</td>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">Check the Heater Controls, Fan Speed and Drive&nbsp;Belt</td>
                                                      </tr>
                                                      <tr>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">&bull;&nbsp;</td>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-bottom:3px;">Reduce Bacteria &amp; Odour</td>
                                                      </tr>
                                                      <tr>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;">&bull;&nbsp;</td>
                                                        <td valign="top" align="left" style="font-size:13px;line-height:17px;  color:#ffffff;font-family:Arial, Helvitica, sans-serif;">Complete a 23-point Vehicle Check, covering Tyres, Lighting, Wipers, Brakes, Exhaust, Steering and Suspension, Fluid levels and&nbsp;Battery.</td>
                                                      </tr>
                                                      </table>
                                                    </td>
                                                  </tr>
