          <tr class="mhide">
            <td style="background-color:#000000;padding:1px 1px 1px 1px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#ffffff;">
                <tr>
                  <td style="background-color:#ffffff;padding:6px;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#ffffff;">
                      <tr>
                        <td width="169" style="width:169px;font-size:15px;line-height:24px;font-family:Arial, Helvetica, sans-serif;color:#000000;" align="center" valign="middle">BLK*: From<br><font style="font-size:21px;font-weight:bold;line-height:28px;">27</font>%</td>
                        <td width="1" style="width:1px;background-color:#000000;"><img alt="|" src="img/cif0067_disp_vertical.png" style="display:block;width:1px;" width="1"></td>
                        <td width="170" style="width:170px;font-size:15px;line-height:24px;font-family:Arial, Helvetica, sans-serif;color:#000000;" align="center" valign="middle">MPG^: up to<br><font style="font-size:21px;font-weight:bold;line-height:28px;">56.3</font>
                        </td>
                        <td width="1" style="width:1px;background-color:#000000;"><img alt="|" src="img/cif0067_disp_vertical.png" style="display:block;width:1px;" width="1"></td>
                        <td width="169" style="width:169px;font-size:15px;line-height:24px;font-family:Arial, Helvetica, sans-serif;color:#000000;" align="center" valign="middle">CO<sub style="line-height:70%;font-size:70%;">2</sub>^: From<br><font style="font-size:21px;font-weight:bold;line-height:28px;">106</font> g/km</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!--[if !mso]><!-->
          <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
            <td style="background-color:#000000;padding:1px 1px 1px 1px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#ffffff;">
                <tr>
                  <td style="background-color:#ffffff;padding:6px;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#ffffff;">
                      <tr>
                        <td style="font-size:15px;line-height:24px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-top:6px;padding-bottom:6px;" align="center" valign="middle">BLK*: From<br><font style="font-size:21px;font-weight:bold;line-height:28px;">27</font>%</td>
                      </tr>
                      <tr>
                        <td style="height:1px;background-color:#000000;"><img alt="-" src="img/cif0067_disp_horizontal.png" style="display:block;"></td>
                      </tr>
                      <tr>
                        <td style="font-size:15px;line-height:24px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-top:6px;padding-bottom:6px;" align="center" valign="middle">MPG^: up to<br><font style="font-size:21px;font-weight:bold;line-height:28px;">56.3</font></td>
                      </tr>
                      <tr>
                        <td style="height:1px;background-color:#000000;"><img alt="-" src="img/cif0067_disp_horizontal.png" style="display:block;"></td>
                      </tr>
                      <tr>
                        <td  style="font-size:15px;line-height:24px;font-family:Arial, Helvetica, sans-serif;color:#000000;padding-top:6px;padding-bottom:6px;" align="center" valign="middle">CO<sub style="line-height:70%;font-size:70%;">2</sub>^: From<br><font style="font-size:21px;font-weight:bold;line-height:28px;">106</font> g/km</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!--<![endif]-->
