          <tr class="mhide">
            <td style="padding-top:35px;padding-bottom:35px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                <tr>
                  <td align="left" class="mcenter"><a href="#[hero]" target="_blank" title="DISCOVER MORE" style="display:block"><img alt="DISCOVER MORE" src="img/cif0067_disp_discover-more.png" style="display:block;border-style:none;margin-left:0;margin-right:auto;"></a></td>
                  <td align="right" class="mcenter"><a href="https://apiservices.krxd.net/click_tracker/track?kxconfid=rm0yoc8tj&kxsiteid=EMAIL&kxadvertiserid=EML_BEX&kxcampaignid=AC_UK_c5aircrossfleetjun19_vn_C5Aicross_newsletter_EML_BEX_S_vi&clk=https%3A%2F%2Fwww.citroen.co.uk%2Fnew-cars-and-vans%2Fcitroen-range%2Fnew-citroen-c5-aircross-suv%2Fconfigurator%2Fversion-and-engine%2Fversion%3Futm_source%3DEMAIL%26utm_medium%3DEML_BEX%26utm_campaign%3DAC_UK_c5aircrossfleetjun19_vn_C5Aicross_newsletter_EML_BEX_S_vi" target="_blank" title="CONFIGURE NOW" style="display:block"><img alt="CONFIGURE NOW" src="img/cif0067_disp_configure-now.png" style="display:block;border-style:none;margin-left:auto;margin-right:0;"></a></td>
                </tr>
              </table>
            </td>
          </tr>

          <!--[if !mso]><!-->
          <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
            <td style="padding-top:35px;padding-bottom:35px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                <tr>
                  <td align="center" style="padding-bottom:18px;"><a href="#[hero]" target="_blank" title="DISCOVER MORE" style="display:block"><img alt="DISCOVER MORE" src="img/cif0067_disp_discover-more.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                </tr>
                <tr>
                  <td align="center"><a href="https://apiservices.krxd.net/click_tracker/track?kxconfid=rm0yoc8tj&kxsiteid=EMAIL&kxadvertiserid=EML_BEX&kxcampaignid=AC_UK_c5aircrossfleetjun19_vn_C5Aicross_newsletter_EML_BEX_S_vi&clk=https%3A%2F%2Fwww.citroen.co.uk%2Fnew-cars-and-vans%2Fcitroen-range%2Fnew-citroen-c5-aircross-suv%2Fconfigurator%2Fversion-and-engine%2Fversion%3Futm_source%3DEMAIL%26utm_medium%3DEML_BEX%26utm_campaign%3DAC_UK_c5aircrossfleetjun19_vn_C5Aicross_newsletter_EML_BEX_S_vi" target="_blank" title="CONFIGURE NOW" style="display:block"><img alt="CONFIGURE NOW" src="img/cif0067_disp_configure-now.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                </tr>
              </table>
            </td>
          </tr>
          <!--<![endif]-->
