<style type="text/css">
    @font-face {
        font-family: 'dsautomobileRegular';
        src: url('font/DSAutomobiles-Regular.woff') format("woff")
    }
    [style*='dsautomobileRegular'] {
        font-family: 'dsautomobileRegular', Arial, sans-serif !important;
        font-weight:700 !important;
    }
</style>

        <tr>
          <td style="padding-bottom:18px;" align="center">
            <table cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto;width:240px;" width="240">
              <tr>
                <td style="padding:1px 1px 1px 1px;background-color:#afa69a;">
                  <table cellpadding="0" cellspacing="0" style="width:238px;" width="238">
                    <tr>
                      <td style="background-color:#ffffff;font-size:18px;line-height:30px;font-family: 'dsautomobileRegular', Arial, sans-serif !important;color:#333e48;font-weight:bold;" align="center">CALL: <a href="tel:08000830055" style="color:#333e48;text-decoration:none;">0800&nbsp;083&nbsp;0055*</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
