<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark">

<style>
/* Normal styles */
@media (prefers-color-scheme: dark) {
/* Dark mode styles */
}
</style>

https://www.campaignmonitor.com/resources/guides/dark-mode-in-email/