                  td.pic div a{
                        display:block;
                        width:100%;
                        padding-top:50%;
                        overflow:hidden;
                        position:relative;
                  }
                  td.pic img{
                        width:100%;
                        height:auto;
                        position:absolute;
                        left:50%;
                        top:50%;
                        width:100%;
                        height:auto;
                        -webkit-transform:translate(-50%,-50%);
                        -ms-transform:translate(-50%,-50%);
                        transform:translate(-50%,-50%);
                  }
