        <tr>
          <td class="row  mgutter" style="padding-bottom:6px;padding-left:10px;padding-right:10px;">
            <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
              <tr>
                <td style="padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px;background-color:#efeef0;">
                  <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
                    <tr>
                      <td align="left" style="font-size:18px;line-height:20px;color:#000000;font-family:Arial, Helvetica, sans-serif;font-style:italic;">YOUR LOCAL DEALER</td>
                    </tr>
                    <tr>
                      <td align="left" style="padding-top:8px;padding-bottom:8px;height:3px;line-height:3px;font-size:3px;"><img src="img/PEU2223_scr_div_black.png" alt="-" width="21" height="3" border="0" style="display: block; border:none;"></td>
                    </tr>

                    <tr>
                          <td style="font-size:13px;line-height:17px;color:#fd54ca;font-family:Arial, Helvetica, sans-serif;padding-bottom:18px;" valign="top" align="left">&lt;Dealership Name&gt;<br>&lt;Telephone Number&gt;<br>&lt;Dealership Website&gt;
                          </td>
                    </tr>

                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
