<!--
background image row
litmus html email background image guide: https://litmus.com/blog/the-ultimate-guide-to-background-images-in-email
background image VRML generator: https://backgrounds.cm
--> 

        <tr>
            <td style="padding-left:10px;padding-right:10px;padding-bottom:6px;" class="row mgutter">
                <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">

                    <!--[if !mso]><!-->
                    <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
                        <td style="background-image:url('https://production.stackworks.com/peugeot/emails/PEU2198/508sw/img/PEU2198_508sw_pic2b_d.jpg');background-repeat:no-repeat;background-position:right top;height:216px;width:600px;" height="216" width="600" align="left">
                            <table cellpadding="0" cellspacing="0" style="width:250px;margin-left:0;margin-right:auto;">
                                <tr>
                                    <td style="padding-top:16px;padding-bottom:16px;padding-left:16px;background-color:rgba(0,0,0,0.5);;">
                                        <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
                                          <tr>
                                            <td align="left" style="font-size:18px;line-height:20px;color:#ffffff;font-family:Arial, Helvitica, sans-serif;">THE UNRIVALLED <br>PEUGEOT i-Cockpit<sup class="supx1">&reg;</sup></td>
                                          </tr>
                                          <tr>
                                            <td align="left" style="padding-top:16px;padding-bottom:16px;height:3px;line-height:3px;font-size:3px;"><img src="https://production.stackworks.com/peugeot/emails/PEU2198/508sw/img/PEU2198_508sw_div_white.png" alt="-" width="21" height="3" border="0" style="display: block; border:none;" ></td>
                                          </tr>

                                          <tr>
                                            <td align="left" style="height:18px;padding-bottom:1.333px;padding-top:1.5px;">
                                              <a href="#[link2]" target="_blank" style="font-family:Arial, Helvitica, sans-serif;font-size:13px;text-decoration:none;color:#439ce0 !important;"><font style="font-family:Arial, Helvitica, sans-serif;color:#439ce0;" >DISCOVER MORE&nbsp;&nbsp;&gt;</font></a></td>
                                          </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--<![endif]-->

                    <!-- 10 / 600 / 10 -->
                    <tr class="mhide">
<td background="https://production.stackworks.com/peugeot/emails/PEU2198/508sw/img/PEU2198_508sw_pic2b_d.jpg" bgcolor="#000000" width="600" height="216" valign="top">
  <!--[if gte mso 9]>
  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:216px;">
    <v:fill type="tile" src="https://production.stackworks.com/peugeot/emails/PEU2198/508sw/img/PEU2198_508sw_pic2b_d.jpg" color="#7bceeb" />
    <v:textbox inset="0,0,0,0">
  <![endif]-->
                  <table cellpadding="0" cellspacing="0" style="width:250px;margin-left:0;margin-right:auto;" width="250">
                    <tr>
                      <td align="left" style="font-size:18px;line-height:20px;color:#ffffff;font-family:Arial, Helvitica, sans-serif;padding-top:60px;padding-left:49px;">THE UNRIVALLED <br>PEUGEOT i-Cockpit<sup class="supx1">&reg;</sup></td>
                    </tr>
                    <tr>
                      <td align="left" style="padding-top:16px;padding-bottom:16px;height:3px;line-height:3px;font-size:3px;padding-left:49px;"><img src="https://production.stackworks.com/peugeot/emails/PEU2198/508sw/img/PEU2198_508sw_div_white.png" alt="-" width="21" height="3" border="0" style="display: block; border:none;" ></td>
                    </tr>

                    <tr>
                      <td align="left" style="height:18px;padding-bottom:1.333px;padding-top:1.5px;padding-left:49px;">
                        <a href="#[link2]" target="_blank" style="font-family:Arial, Helvitica, sans-serif;font-size:13px;text-decoration:none;color:#439ce0 !important;"><font style="font-family:Arial, Helvitica, sans-serif;color:#439ce0;" >DISCOVER MORE&nbsp;&nbsp;&gt;</font></a></td>
                    </tr>
                  </table>
  <!--[if gte mso 9]>
    </v:textbox>
  </v:rect>
  <![endif]-->
</td>
                    </tr>
                </table>
            </td>
        </tr>
