                    <tr>
                        <td align="center" valign="top" style="color: #1e2536; font-size: 13px; line-height:17px; font-family: Arial, Helvetica, sans-serif; text-align: center; padding-top:24px;padding-bottom:24px;">
                          <font style="font-size:5em;">"</font><br><br>
                          <font style="font-size:5em;">&ldquo;</font><br><br>
                          <font style="font-size:5em;">&rdquo;</font>
                        </td>
                    </tr>
