                  <!-- mobile button, display on mobile clients view width < 650px : iOS iphone email, iOS/android gmail app, iOS outlook, android samsung email app -->
                  <!--[if !mso]><!-->
                  <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
                    <td align="center">
                      <a href="#[call-to-action-link]" target="_blank" style="display:block;width:auto;margin-left:auto;margin-right:auto;background-color:#1c98d5;font-size: 13px; line-height: 18px !important; font-family: Arial, Helvetica, sans-serif;color:#ffffff;padding-left:20px;padding-right:20px;padding-top:12px;padding-bottom:12px;border-radius:6px;">SEE HOW THE CAMPAIGN WILL BE&nbsp;USED</a>
                    </td>
                  </tr>
                  <!--<![endif]-->

                  <!-- desktop/web button for Outlook -->
                  <tr class="mhide">
                    <td align="center">

                        <table cellpadding="0" cellspacing="0" style="width:350px;margin-left:auto;margin-right:auto;table-layout: fixed;" width="350" class="flowTable">
                          <tr>
                            <td>
                              <table cellpadding="0" cellspacing="0" style="width:350px;" width="350">
                                <tr>
                                  <td width="6" style="width:6px;font-size:0;"><img alt="tl" src="https://production.stackworks.com/blu/blu0081/img/blu0081_il1_tlcorner.png" style="display:block;border-style:none;"></td>
                                  <td width="338" style="width:338px;font-size:0;background-color:#1c98d5;"><img alt="-" src="https://production.stackworks.com/blu/blu0081/img/blu0081_il1_cta_6.png" style="display:block;"></td>
                                  <td width="6"  style="width:6px;font-size:0;"><img alt="tr" src="https://production.stackworks.com/blu/blu0081/img/blu0081_il1_trcorner.png" style="display:block;border-style:none;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="background-color:#1c98d5;font-size: 13px; line-height: 18px !important; font-family: Arial, Helvetica, sans-serif;color:#ffffff;padding-left:20px;padding-right:20px;padding-top:8px;padding-bottom:8px;" align="center">

                              <!-- edit href, title and button copy here -->
                              <a href="#[call-to-action-link]" target="_blank" title="SEE HOW THE CAMPAIGN WILL BE USED" style="display:block;color:#ffffff;text-decoration:none;">SEE HOW THE CAMPAIGN WILL BE&nbsp;USED</a>
                              <!--  -->

                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table cellpadding="0" cellspacing="0" style="width:350px;" width="350">
                                <tr>
                                  <td width="6" style="width:6px;font-size:0;"><img alt="tl" src="https://production.stackworks.com/blu/blu0081/img/blu0081_il1_blcorner.png" style="display:block;border-style:none;"></td>
                                  <td width="338" style="width:338px;font-size:0;background-color:#1c98d5;"><img alt="-" src="https://production.stackworks.com/blu/blu0081/img/blu0081_il1_cta_6.png" style="display:block;"></td>
                                  <td width="6"  style="width:6px;font-size:0;"><img alt="tr" src="https://production.stackworks.com/blu/blu0081/img/blu0081_il1_brcorner.png" style="display:block;border-style:none;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      
                    </td>
                  </tr>
