<tr>
    <td>
        <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100;margin-left:0;margin-right:0">
            <tr>
                <td valign="top" width="20" height="14px" style="font-size:0">
                    <img alt="" src="img/PEU2234_ci_tick.png" style="display:block;margin-left:0;margin-right:auto;vertical-align:top">
                </td>
                <td valign="top" style="font-family:Arial,Helvetica,sans-serif; color:#ffffff; font-size:13px;padding-bottom:4px;mso-line-height-rule:exactly;line-height:16px">15" alloy wheels</td>
            </tr>
            <tr>
                <td valign="top" width="20" height="14px" style="font-size:0">
                    <img alt="" src="img/PEU2234_ci_tick.png" style="display:block;margin-left:0;margin-right:auto;vertical-align:top">
                </td>
                <td valign="top" style="font-family:Arial,Helvetica,sans-serif; color:#ffffff; font-size:13px;padding-bottom:4px;mso-line-height-rule:exactly;line-height:16px">7" capacitive colour touchscreen with Apple CarPlay<sup class="supx1">&trade;</sup> &amp; Android Auto&nbsp;connectivity</td>
            </tr>
            <tr>
                <td valign="top" width="20" height="14px" style="font-size:0">
                    <img alt="" src="img/PEU2234_ci_tick.png" style="display:block;margin-left:0;margin-right:auto;vertical-align:top">
                </td>
                <td valign="top" style="font-family:Arial,Helvetica,sans-serif; color:#ffffff; font-size:13px;padding-bottom:4px;mso-line-height-rule:exactly;line-height:16px">Colour reversing camera</td>
            </tr>
            <tr>
                <td valign="top" width="20" height="14px" style="font-size:0"><img alt="" src="img/PEU2234_ci_tick.png" style="display:block;margin-left:0;margin-right:auto;vertical-align:top">
                </td>
                <td valign="top" style="font-family:Arial,Helvetica,sans-serif; color:#ffffff; font-size:13px;padding-bottom:4px;mso-line-height-rule:exactly;line-height:16px">Automatic air conditioning</td>
            </tr>
        </table>
    </td>
</tr>
