<% var email = message.address ; %> 
<% var value_ID = decodeURIComponent(digestStrSha256(email.toLowerCase())); %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml><![endif]-->
<!-- CIT1202 COVID-19 -->
<!-- CIT1202_cvd_ -->
<!-- CIT1202 COVID-19 test-0006 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>&lt;Name&gt;, WE&rsquo;RE ALWAYS AT YOUR SERVICE</title>
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="date=no">
<style type="text/css">
/*
-webkit-text-size-adjust:none; -ms-text-size-adjust:none;
-webkit-font-smoothing:antialiased;
-ms-interpolation-mode: bicubic;
*/

@font-face {
    font-family: 'dsautomobileRegular';
    src: url('font/DSAutomobiles-Regular.woff') format("woff")
}
[style*='dsautomobileRegular'] {
    font-family: 'dsautomobileRegular', Arial, sans-serif !important;
    font-weight:400 !important;
}

table {
border-collapse: collapse;
mso-table-lspace: 0pt;
mso-table-rspace: 0pt;
border-spacing: 0;
mso-line-height-rule: exactly;
mso-margin-bottom-alt: 0;
mso-margin-top-alt: 0;
}

table.emailBody{width:600px !important;}
table.shadow{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
}
img{display:block;border-style:none;-ms-interpolation-mode: bicubic;}
.mshow{
  display: none !important;
  font-size: 0 !important;
  mso-hide: all;
  /* hide elements in Outlook 2007-2013 */
  float: left;
}
.mhide{}

a[x-apple-data-detectors]{
    color:inherit !important;
    text-decoration:none !important;
    font-size:inherit !important;
    font-family:inherit !important;
    font-weight:inherit !important;
    line-height:inherit !important;
}

/* outlook lineheight fix */
.ExternalClass * {line-height: 100%} 
.supx1{line-height: 75%;font-size: 75%;vertical-align: top;}
td.appleFooterLinks a{color:#c4b7a5 !important;}
td.autoLinks a{color:#cfc3b6 !important;text-decoration:underline !important;}

@media (max-width: 600px) {
    table.emailBody,
    table.doubleColumn,
    table.flowTable{display:table !important;width:100% !important;margin-left:0 !important;margin-right:0 !important;}
    td.fullWidth{width:100% !important;min-width:100% !important;}
    td.fullWidthImg img{width:100% !important;height:auto !important;}
    td.msidepad{padding-left:22px !important;padding-right:22px !important;}
    td.mpad2{padding-left:22px !important;padding-right:22px !important;}
    td.mtop0{padding-top:0px !important;}
    tr.mshow,
    td.mshow{
        float: none !important;
        height: auto !important;
        max-height: inherit !important;
        overflow: visible !important;
        width: auto !important;
        font-size: inherit !important;
    }
    table.mshow{display: table !important;}
    div.mshow, br.mshow{display: block !important;}
    tr.mshow{display: table-row !important;}
    td.mshow{display: table-cell !important;}
    br.mhide,
    tr.mhide,
    td.mhide{
        display: none !important;
        mso-hide: all;
        font-size:0px  !important;
        max-height:0px  !important;
        height:0px  !important;
        float:left  !important;
        overflow:hidden  !important;
    }
}
        </style>
<!--[if gte mso 9]>   
<style type="text/css">
.supx1{line-height: 20px;mso-text-raise:-20%;font-size:20px;}
table{border-collapse: collapse;}
table.emailBody{}
td.bullet{padding-top:0px !important;font-size:12px; !important;line-height:12px !important;}
</style>
<![endif]-->
<!--[if mso 16]>
<style type="text/css">
.supx1{line-height: 20px;mso-text-raise:-20%;font-size:20px;}
td.bullet{padding-top:0px !important;font-size:12px; !important;line-height:12px !important;}
</style>
<![endif]-->
    </head>
    <body style="-webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; margin:0; padding-0;background-color:#050607;" bgcolor="201716">
<!--[if gte mso 9]>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
<tr>
<td><![endif]-->

<!--
<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="width:100%;">
</table>
-->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="emailBody" style="background-color:#050607;width:600px;">
    <tr>
        <td style="background-color:#ffffff;" class="emailBody" align="center">
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="emailBody" style="width:600px;margin-left:auto;margin-right:auto;">
                <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular'; color:#2b201d; font-size:10px;font-weight:bold;padding-top:8px;padding-bottom:8px;" align="center"><font style="color:#ca0088;">&lt;Name&gt;</font>, WE&rsquo;RE ALWAYS AT YOUR SERVICE</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular'; color:#2b201d; font-size:10px;padding-top:8px;padding-bottom:8px;" align="center">If you cannot read this message correctly, <a href="" target="_blank" style="color:#2b201d;text-decoration:underline;">click here</a></td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- 600px min-width for google mail android app - force display of desktop version -->  
    <!-- https://litmus.com/community/discussions/274-force-gmail-app-to-render-desktop-version -->
    <tr class="mhide">
        <td style="min-width:600px;width:600px;height:1px;line-height:1px;font-size:1px;">&nbsp;</td>
    </tr>

    <tr>
        <td align="center" style="font-size:0;background-color:#000000;padding-top:26px;padding-bottom:22px;">
            <a href="#[ds]" target="_blank" title="DS Automobiles"><img alt="DS Automobiles" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_logo.png" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a>
        </td>
     </tr>

    <tr>
        <td style="font-size:0;"><img alt="DS &amp; COVID-19 UPDATE" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_hero_d.jpg" style="display:block;border-style:none;margin-left:0;margin-right:0;width:100%;min-width:100%;" width="100%"></td>
    </tr>

    <tr>
        <td style="padding-bottom:10px;">
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:600px;">
                <tr>
                    <td style="background-color:#2f2726;">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:600px;">
                            <tr>
                                <td style="padding-left:65px;padding-right:65px;" class="msidepad">
                                    <table width="470" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:470px;">
                                        <tr>
                                            <td align="center" style="color:#cfc3b6;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:17px;padding-top:26px;padding-bottom:26px;" class="autoLinks"><strong>Dear <font style="color:#ca0088;">&lt;Name&gt;</font>,</strong><br><br>At DS Automobiles, the health and well-being of our customers, retailers and colleagues are our number one&nbsp;priority.<br><br>To support the Government efforts to control the spread of the Coronavirus, we have closed our physical showrooms until the end of the shutdown&nbsp;period.<br><br>Where possible,  our workshops remain open at a reduced level to cover essential requirements such as roadside recovery and emergency repairs. They are also providing servicing facilities for NHS staff and we have extended our Roadside Assistance cover to all NHS staff, free of charge, no matter the age or mileage of their DS. To see a list of DS Automobiles workshops which are offering essential support, click here. <br>Read below for further details on how we are here to help you during these difficult&nbsp;time.<br><br>Take care of yourself and your loved&nbsp;ones.<br><br><font style="color:#FFFFFF;">DS Automobiles</font>
                                        </td>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

   <tr>
        <td style="padding-bottom:10px;">
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;" class="flowTable" >
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="600" style="width:600px;" class="flowTable" >
                            <tr>
                                <td style="width:296px;background-color:#2f2726;" width="296">
                                    <table width="296" border="0" cellspacing="0" cellpadding="0" align="center" style="width:296px;" class="flowTable">
                                        <tr>
                                            <td style="padding-top:22px;padding-right:22px;padding-bottom:22px;padding-left:22px;">
                                                <table width="252" border="0" cellspacing="0" cellpadding="0" align="left"  style="width:252px;" class="flowTable">
                                                    <tr>
                                                        <td style="color:#ffffff;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-weight:100;font-size:12px;line-height:16px;" align="left" class="mpad1">CARING FOR YOUR DS</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-size:0;padding-top:8px;padding-bottom:8px;"><img alt="-" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_divider2.png" style="display:block;border-style:none;margin-left:0;margin-right:auto;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:14px;" class="autolink1">During these challenging times, it&rsquo;s important that we follow government guidelines and remain home as much as possible.  As a result, we completely understand that you won&rsquo;t be enjoying your DS as often as usual – in fact we want you to use it&nbsp;less.<br><br>During this period of inactivity, we have some simple tips to ensure that your DS is maintained in optimum condition for when you&rsquo;re ready to use it&nbsp;again:-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                                            <tr>
                                                                <td align="left" valign="top" style="color:#a81945;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;padding-right:0.5em;">&ndash;</td>
                                                                <td align="left" valign="top" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;">Check and maintain fluid levels under the bonnet as indicated in the&nbsp;handbook.</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="color:#a81945;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;padding-right:0.5em;">&ndash;</td>
                                                                <td align="left" valign="top" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;">Start your vehicle at least once a week to keep the battery charged and power up the vehicle&rsquo;s electrical systems.  If feasible, please leave it running for a couple of minutes – up to 10 minutes&nbsp;maximum.</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="color:#a81945;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;padding-right:0.5em;">&ndash;</td>
                                                                <td align="left" valign="top" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;">Check the tyre pressure and maintain them at the pressures stated on the label located on the vehicle (refer to your handbook for the&nbsp;location)</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="color:#a81945;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;padding-right:0.5em;">&ndash;</td>
                                                                <td align="left" valign="top" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;">Finally clean your DS regularly with particular emphasis on the removal of any external deposits or bird droppings from the paintwork to prevent damage (refer to the handbook for more&nbsp;information).</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="color:#a81945;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;padding-right:0.5em;">&ndash;</td>
                                                                <td align="left" valign="top" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:0.5em;">We also encourage a thorough cleaning of the interior of your vehicle with a particular focus on all touchpoints within the&nbsp;car.</td>
                                                            </tr>
                                                            </table>
                                                        </td>
                                                    </tr>


                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="8" style="width:8px;" class="mhide">&nbsp;</td>
                                <td style="width:296px;background-color:#2f2726;" width="296" valign="top"  class="mhide">
                                    <table width="296" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:296px;">
                                        <tr>
                                            <td style="padding-top:22px;padding-right:22px;padding-bottom:22px;padding-left:22px;" class="mpad2">
                                                <table width="252" border="0" cellspacing="0" cellpadding="0" align="left"  style="width:252px;">
                                                    <tr>
                                                        <td style="color:#ffffff;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-weight:100;font-size:12px;line-height:16px;" align="left" class="mpad1">COVID-19 FREQUENTLY ASKED QUESTIONS</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-size:0;padding-top:8px;padding-bottom:8px;"><img alt="-" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_divider2.png" style="display:block;border-style:none;margin-left:0;margin-right:auto;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="color:#ffffff;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:14px;" class="autolink1">
                                                            <font style="color:#cfc3b5;">These are unprecedented times and you may have questions around the ownership, finance and maintenance of your DS, such&nbsp;as:</font><br><br>
                                                            My service/MOT is due, can this work still be carried&nbsp;out?<br><br>
                                                            Will my warranty be affected if I do not get my service / repair&nbsp;done?<br><br>
                                                            Is the breakdown service I have with you still&nbsp;available?<br><br>
                                                            I have a question about my finance agreement, who should I&nbsp;contact?<br><br>
                                                            <font style="color:#cfc3b5;">To see the full COVID-19 status and FAQs, <a href="#[covid-19-questions]" target="_blank" style="color:#cfc3b5;text-decoration:underline;">click&nbsp;here</a>.</font>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <!--[if !mso]><!-->
                <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
                  <td style="padding-top:10px;">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:100%;">
                                <tr>
                                    <td style="padding-top:22px;padding-right:22px;padding-bottom:22px;padding-left:22px;background-color:#2f2726;" class="mpad2">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left"  style="width:100%;">
                                            <tr>
                                                <td style="color:#ffffff;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-weight:100;font-size:12px;line-height:16px;" align="left" class="mpad1">COVID-19 FREQUENTLY ASKED QUESTIONS</td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size:0;padding-top:8px;padding-bottom:8px;"><img alt="-" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_divider2.png" style="display:block;border-style:none;margin-left:0;margin-right:auto;"></td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="color:#ffffff;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:14px;" class="autolink1">
                                                    <font style="color:#cfc3b5;">These are unprecedented times and you may have questions around the ownership, finance and maintenance of your DS, such&nbsp;as:</font><br><br>
                                                    My service/MOT is due, can this work still be carried&nbsp;out?<br><br>
                                                    Will my warranty be affected if I do not get my service / repair&nbsp;done?<br><br>
                                                    Is the breakdown service I have with you still&nbsp;available?<br><br>
                                                    I have a question about my finance agreement, who should I&nbsp;contact?<br><br>
                                                    <font style="color:#cfc3b5;">To see the full COVID-19 status and FAQs, <a href="#[covid-19-questions]" target="_blank" style="color:#cfc3b5;text-decoration:underline;">click&nbsp;here</a>.</font>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <!--<![endif]-->
            </table>
        </td>
    </tr>

    <!--[if !mso]><!-->
    <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden" class="mshow">
      <td>
        <img alt="" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_pic1_m.jpg" style="display:block;border-style:none;width:100%;height:auto;">
      </td>
    </tr>
    <!--<![endif]-->

    <tr>
        <td style="padding-bottom:10px;">
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:600px;">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="600" style="width:600px;" class="flowTable">
                            <tr>
                                <td style="width:300px;background-color:#2f2726;" width="300" valign="top">
                                    <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="flowTable" style="width:300px;">
                                        <tr>
                                            <td style="padding-top:22px;padding-right:22px;padding-bottom:22px;padding-left:22px;" class="mpad2">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left"  style="width:100%;">
                                                    <tr>
                                                        <td style="color:#ffffff;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-weight:100;font-size:12px;line-height:16px;" align="left" class="mpad1">ALWAYS BY YOUR SIDE</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-size:0;padding-top:8px;padding-bottom:8px;"><img alt="-" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_divider2.png" style="display:block;border-style:none;margin-left:0;margin-right:auto;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="color:#cfc3b5;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';font-size:12px;line-height:18px;padding-bottom:14px;" class="autolink1">DS CONCIERGE <br>Although our physical showrooms are temporarily closed, we&rsquo;re open as usual digitally to serve and assist you with both new and pre-owned&nbsp;vehicles.<br><br>We have created a new DS Concierge service to handle new car enquiries and questions. <br class="mhide">To contact the team of DS Expert Advisors, complete the callback form on the link below, <br class="mhide">or email <a href="mailto:dsconcierge@dsautomobiles.com" target="_blank" style="color:#cfc3b5;text-decoration:underline;">dsconcierge@dsautomobiles.com</a> and they&rsquo;ll be in touch as soon as&nbsp;possible.</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="height:30px;font-size:0;padding-bottom:1.5px;"><a href="#[request-callback]" target="_blank" title="REQUEST CALLBACK"><img src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_request-callback.png" alt="REQUEST CALLBACK" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></a></td>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:300px;" width="300" class="mhide"><img alt="ALWAYS BY YOUR SIDE" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_pic1_d.jpg" style="display:block;border-style:none;width:300px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="font-size:0;"><img alt="" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_pic2_d.jpg" style="display:block;border-style:none;margin-left:0;margin-right:0;width:100%;min-width:100%;" width="100%"></td>
    </tr>
 
    <tr>
        <td class="footer msidepad" style="padding-top:25px;padding-left:10px;padding-right:10px;">
            <table width="580" border="0" cellspacing="0" cellpadding="0" class="flowTable" style="width:580px;">
                <tr>
                    <td style="background-color:#5d504e;height:1px;line-height:1px;font-size:1px;">&nbsp;</td>
                </tr>
                <tr>
                    <td class="social" align="center" style="padding-top:7px;padding-bottom:7px;">
                        <table cellpadding="0" cellspacing="0" class="socialLinksInner" style="margin-left:auto;margin-right:auto;">
                            <tbody><tr>
                                <td><a href="https://twitter.com/DS_UK_Official" target="_blank" title="twitter"><img alt="twitter" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_twitter.png" style="display:block;border-style:none;"></a></td>
                                <td width="10">&nbsp;</td>
                                <td><a href="https://www.facebook.com/DSUKOfficial" target="_blank" title="facebook"><img alt="facebook" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_facebook.png" style="display:block;border-style:none;"></a></td>
                                <td width="10">&nbsp;</td>
                                <td><a href="https://www.instagram.com/ds_uk/?hl=en" target="_blank" title="instagram"><img alt="instagram" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_instagram.png" style="display:block;border-style:none;"></a></td>
                                <td width="10">&nbsp;</td>
                                <td><a href="https://www.youtube.com/user/DSUKOfficial/" target="_blank" title="youtube"><img alt="youtube" src="https://production.stackworks.com/citroen/emails/CIT1202/ds/img/CIT1202_cvd_youtube2.png" style="display:block;border-style:none;"></a></td>
                            </tr>
                        </tbody></table>
                    </td>
				</tr>
                <tr>
                    <td style="background-color:#b72d56;height:1px;line-height:1px;font-size:1px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="padding-top:24px;">
                        <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
                            <tr>
                                <td style="padding-bottom:20px;font-family:Arial, Helvetica, sans-serif,'dsautomobileRegular';color:#c4b7a5;font-size:11px;" align="center" valign="top" class="appleFooterLinks">Please do not respond to this email as it is sent from an unmonitored&nbsp;address.<br><br>To unsubscribe from emails from DS Automobiles or to manage your contact preferences please <a href="#[contact-preferences]" target="_blank" style="color:#c4b7a5;text-decoration:underline;">click here</a>.<br>To view our Privacy Policy <a href="#[privacy-policy]" target="_blank" style="color:#c4b7a5;text-decoration:underline;">click here</a>.<br><br>For further information on CO<sub style="font-size:70%;">2</sub> emissions and fuel economy, please <a href="#[terms]" target="_blank" style="color:#c4b7a5;text-decoration:underline;">visit our website</a>.<br><br>DS Automobiles is a trading name of Citro&euml;n UK Ltd which is incorporated in England and Wales, Company no. 191579. Registered office: Pinley House, 2 Sunbeam Way, Coventry CV3 1ND. Member of the Society of Motor Manufacturers &amp; Traders, no. 74359. VAT Number:&nbsp;GB&nbsp;272&nbsp;3691&nbsp;49.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!--[if gte mso 9]></td>
</tr>
</table>
<![endif]-->

<!-- opentrack / usermatch -->

</body></html>