<head> 
 <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]--> 
 <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
 <title>Learn how to apply FinTech with hands-on training</title> 
 <meta name="format-detection" content="telephone=no"> 
 <link rel="canonical" href="https://author.accaglobal.com/content/campaigns/acca-email-templates/global/Member-Comms/SOLUS/FinTech/members_solus_fintechemail1june2021.campaign.content.json"> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #595959;
        font-size: 15px;
        mso-line-height-rule: exactly;
        line-height: 20px;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }


    @media only screen and (max-width: 360px) {
        .pad {
            padding-left: 10px!important;
            padding-right: 10px!important;
        }
    }

    @media only screen and (max-width:617px) {
        .tflex {
            display: block!important;
            width: 100%!important;
            box-sizing: border-box!important;
        }
        .thold {
            display: table!important;
            width: 100%!important;
        }
        .hm {
            display: none!important;
            width: 0!important;
            height: 0!important;
            padding: 0!important;
            font-size: 0!important;
            line-height: 0px!important;
        }
        .pb-0 {
            padding-bottom: 0px!important;
        }
        .pb-15 {
            padding-bottom: 15px!important;
        }
        .pb-20 {
            padding-bottom: 20px!important;
        }
        .plr-0 {
            padding-left: 0!important;
            padding-right: 0!important;
        }
        .plr-20{
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
        .ptb-30 {
            padding-top: 30px!important;
            padding-bottom: 30px!important;
        }
        .wi-29 img {
            width: 29px!important;
            height: auto!important;
        }
    }

    @media (max-device-width:680px) {
        .fl {
            float: left!important;
        }
        .fr {
            float: right!important;
        }
        .wr {
            display: block!important;
        }
        .ib {
            display: inline-block!important;
        }
        .h {
            display: none!important;
        }
        .autoh {
            height: auto!important;
        }
        .head {
            display: table-header-group!important;
            width: 100%!important;
        }
        .foot {
            display: table-footer-group!important;
            width: 100%!important;
        }
        .talignl {
            text-align: left!important;
        }
        .talignr {
            text-align: right!important;
        }
        .talignc {
            text-align: center!important;
        }
        .wFull {
            width: 100%!important;
        }
        .font18 {
            font-size: 18px!important;
            line-height: normal!important;
        }
        .font22 {
            font-size: 22px!important;
            line-height: 24px!important;
        }
        .pad {
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
    }

    @media only screen and (min-width:618px) and (max-width:680px) {
        .c-tile-image-left .tile-image-left-content {
            padding: 0 0px 20px 15px !important;
        }
        .c-tile-image-right .c-tile-image-left .tile-image-left-content {
            padding: 0 15px 20px 0 !important;
        }
    }

    @media only screen and (max-width: 480px), (max-device-width: 480px) {
        .c-teaser .c-container img {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 767px) {
        .c-teaser {
            background-image: none!important;
        }
        .c-teaser h1, .c-teaser h2, .c-teaser h3, .c-teaser h4, .c-teaser h5, .c-teaser h6 {
            text-align: center!important;
            margin-top: 20px!important;
        }
        .c-teaser .h10 {
            height: auto!important;
        }
    }
    

    @media only screen and (max-width:680px) {
        .c-grid .c-grid-wrapper {
            display: table-row;
        }
        .c-grid-mobile-divide {
            margin-bottom: 20px;
        }
        .c-fgrid-m-header {
            display: table-header-group !important;
        }
        .c-fgrid-m-footer {
            display: table-footer-group !important;
        }
        .c-fgrid-m-padding {
            padding: 15px !important;
        }
        .c-fgrid-m-no-padding {
            padding: 0px !important;
        }
        .c-fgrid-m-padding-column-top {
            padding-top: 15px !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
            padding-bottom: 0px !important;
        }
        .c-fgrid-m-padding-column-top-divide {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
            padding-bottom: 15px !important;
        }
        .h-grid {
            display: none!important;
        }
        .c-tile-image-left .tile-image-left-content {
            padding: 20px 0 0 0 !important;
        }
        .c-tile-image-right .c-tile-image-left .tile-image-left-content {
            padding: 0 0 20px 0 !important;
        }
        .c-icon-list-full,.c-icon-list-grid {
            margin-bottom: 0!important;
        }
        .c-icon-list-full-container,.c-icon-list-grid-container {
            display: table!important;
            margin: 0 auto!important;
        }
        .career-headline, .career-subline {
            text-align: center!important;
        }
        .fullwidth-middle .pad {
            vertical-align: top!important;
        }
        .c-wrapper .wrapper-container.center-align {
            width: 100% !important;
        }
        .c-wrapper-mobile-with-padding {
            padding: 15px !important;
        }
        .c-wrapper-mobile-no-padding {
            padding: 0 !important;
        }
        .c-wrapper-mobile-no-padding-top-bottom {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .c-wrapper-mobile-no-padding-left-right {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .c-tile .tile-container .table-container {
            height: auto;
        }
        .c-class-footer .footer-social {
            border-right: none!important;
            padding-right: 0!important;
            border-top: none!important;
        }
        .c-class-footer .footer-content {
            padding: 10px 15px 10px 15px !important;
        }
        .c-class-footer .footer-content div {
            text-align: center !important;
        }
        .c-class-footer .footer-logo {
            border-left: none!important;
        }
        .c-class-footer .social-container table {
            margin: 0 auto!important;
        }
        .c-tile-icon-left .icon-left-container .icon-headline .headline-container td {
            text-align: center!important;
        }
        .icon-text .text-container td {
            text-align: center!important;
        }
        .spacer-mobile {
            display: block!important;
        }
        .c-lifetime-box .container-td3 .c-button .button-side {
            width: 29px!important;
            height: 29px!important;
        }
        .c-lifetime-box .container-td3 .c-button .button-middle {
            height: 29px!important;
            font-size: 13px!important;
        }
        .c-job-career {
            border-spacing: 10px !important;
            width: 300px !important;
        }
        .career-th {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
        .career-block {
            width: 100% !important;
        }

        .in-page-navigation-content {
            border: none!important;
        }
        .c-image-with-overlay .mobile-view {
            display: block!important;
        }
        .c-image .mobile-view {
            display: block!important;
        }
        .top-header-line {
            padding: 5px 0!important;
            width: 100%!important;
        }
        .c-class-header .header-container {
            width: 280px !important;
            border-collapse: separate !important;
        }
        .c-class-header .content-top table {
            width: 280px !important;
        }
        .c-class-header .content-left {
            border-right: 0 !important;
        }
        .c-class-header .c-container {
            margin-top: 8px!important;
            margin-bottom: 6px!important;
        }
        .c-class-header .content-middle {
            border-right: 0 !important;
        }
        .c-class-header .top-divider {
            width: 72px!important;
        }
        .c-class-header .middle-top-text {
            font-size: 9px!important;
            mso-line-height-rule:exactly!important;
            line-height: 10px!important;
        }
        .c-class-header .content-middle-main {
            font-size: 28px!important;
            line-height: 30px!important;
        }
        .c-class-header .content-middle-bottom div {
            font-size: 9px!important;
            margin: 14px 0px 16px!important;
        }
        .c-class-header .content-bottom-item {
            border-bottom: 2px solid black !important;
            border-right: none !important;
        }
        .c-class-header .content-bottom-item div{
            padding: 9px 0!important;
        }
        .c-class-header .item-last {
            border-bottom: none !important;
        }
        .focused-event-container .text-section div {
            margin-top: 25px!important;
            margin-bottom: 25px!important;
        }
        .future-events-container .text-section div {
            margin-top: 25px!important;
            margin-bottom: 25px!important;
        }
        .btn-section .c-container {
            table-layout: fixed!important;
        }
        .c-footer .social .c-container {
            float: none!important;
        }
        .c-footer-m-center {
            margin: auto;
        }
        .fl {
            float: left!important;
        }
        .fr {
            float: right!important;
        }
        .wr {
            display: block!important;
        }
        .ib {
            display: inline-block!important;
        }
        .h {
            display: none!important;
        }
        .autoh {
            height: auto!important;
        }
        .head {
            display: table-header-group!important;
            width: 100%!important;
        }
        .foot {
            display: table-footer-group!important;
            width: 100%!important;
        }
        .talignl {
            text-align: left!important;
        }
        .talignr {
            text-align: right!important;
        }
        .talignc {
            text-align: center!important;
        }
        .wFull {
            width: 100%!important;
        }
        .font18 {
            font-size: 18px!important;
            line-height: normal!important;
        }
        .font22 {
            font-size: 22px!important;
            line-height: 24px!important;
        }
        .pad {
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
        .career-image img {
            width: 100%!important;
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
        a {
            color: inherit;
            cursor: default;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            min-width: 100%!important;
        }
    }
</style> 
</head> 
<body style="margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;"> 
 <table width="100%" cellpadding="0" cellspacing="0" align="center" border="0" style="margin: 0 auto; table-layout: auto;
          background-color:#ffffff;" class="ee_donottouch" ee-template-version="0.6"> 
  <tbody> 
   <tr> 
    <td align="center"> 
     <table cellspacing="0" cellpadding="0" width="100%" border="0" class="container-wrapper"> 
      <tbody> 
       <tr> 
        <td align="center"> 
         <table align="center" class="wFull ee_notfixed c-container" border="0" width="600" cellspacing="0" cellpadding="0" style="table-layout:auto;
                            width:600px;
                            margin: 0 auto;
                            background-image: url('');
                            ;
                            ;"> 
          <tbody class="c-wrapper" width="100%" style="width:100%;display:block;"> 
           <tr width="100%" class="wrapper-container  " style="display:table;width:100%;"> 
            <td class="
                        no-padding-top-bottom c-wrapper-mobile-no-padding-top-bottom
                       
                       " style="padding-top:0;padding-bottom:0;padding-left:20px;padding-right:20px;"> 
             <table width="100%" class="wFull ee_notfixed" align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:auto;"> 
              <tbody> 
               <tr> 
                <td align="center" style="line-height:1px;mso-line-height-rule:exactly;"> 
                 <table width="600" class="ee_notfixed top-header-line" align="center" border="0" cellspacing="0" cellpadding="0" style="padding:5px 20px;table-layout:auto;width:600px;table-layout: auto;"> 
                  <tbody> 
                   <tr> 
                    <td style="width:100%;" class="wFull pad"> 
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ee_notfixed" style="table-layout:auto;table-layout: auto;"> 
                      <tbody> 
                       <tr> 
                        <td align="left" style="font-size:14px;line-height:20px;color:#4c4c4c;mso-line-height-rule:exactly;"> Stay ahead of the latest FinTech with 20hrs practical training </td> 
                       </tr> 
                      </tbody> 
                     </table> </td> 
                   </tr> 
                  </tbody> 
                 </table> </td> 
               </tr> 
              </tbody> 
             </table> 
             <table cellspacing="0" cellpadding="0" width="100%" border="0" class="container-wrapper"> 
              <tbody> 
               <tr> 
                <td align="left"> 
                 <table align="left" class="wFull ee_notfixed c-container" border="0" width="100%" cellspacing="0" cellpadding="0" style="table-layout:auto;width:100%;margin: 0 auto;background-image: url('');"> 
                  <tbody class="c-image"> 
                   <tr class="image-container "> 
                    <td style="line-height:1;position: relative;" class="c-image__td" align="center"> <a href="https://www.edx.org/professional-certificate/acca-fintech-for-finance-and-business-leaders" target="_blank" title="FinTech training for ﬁnance professionals. Not coders."> <img src="http://marketing.accaglobal.com/content/dam/acca-email-templates/general/ACC_0006_ACCA_LEARNING_SOLACE_MEMBERS_EMAIL_1_HEADER.png" alt="FinTech training for ﬁnance professionals. Not coders." style="display:block;max-width:100%;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;;
                          ;"> </a> </td> 
                   </tr> 
                  </tbody> 
                 </table> </td> 
               </tr> 
              </tbody> 
             </table> 
             <table cellspacing="0" cellpadding="0" width="100%" border="0" class="container-wrapper"> 
              <tbody> 
               <tr> 
                <td align="center"> 
                 <table align="center" class="wFull ee_notfixed c-container" border="0" width="600" cellspacing="0" cellpadding="0" style="table-layout:auto;width:600px;margin: 0 auto;background-image: url('');background-color:#f2f2f2;"> 
                  <tbody class="c-wrapper" width="100%" style="width:100%;display:block;"> 
                   <tr width="100%" class="wrapper-container  " style="display:table;width:100%;"> 
                    <td class="
                        no-padding-top-bottom c-wrapper-mobile-no-padding-top-bottom
                       
                       " style="padding-top:0;padding-bottom:0;padding-left:20px;padding-right:20px;"> 
                     <table cellspacing="0" cellpadding="0" width="100%" border="0" style="table-layout: auto;width:100%;"> 
                      <tbody> 
                       <tr> 
                        <td> 
                         <table class="wFull ee_notfixed c-container" border="0" width="100%" cellspacing="0" cellpadding="0" style="table-layout:auto;margin: 0 auto;"> 
                          <tbody class="c-text"> 
                           <tr> 
                            <td style="FONT-SIZE: 1px; LINE-HEIGHT: 1px" height="25">&nbsp;</td> 
                           </tr> 
                           <tr> 
                            <td class="text-container text-underlinelink text-redlink" style="font-size:15px;line-height:20px;text-align:left;mso-line-height-rule:exactly;">
                                <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">Dear&nbsp;&lt;%= targetData.FirstName_Member %&gt;</p>
                                <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;"><b>&nbsp;</b></p>
                                   <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;"><b>Learn the skills you need in live lab environment</b></p>
                                   <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">&nbsp;</p>
                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">FinTech offers huge opportunities for innovation and transformation. From the promise of artificial intelligence to the demands of valuation in a digital era. Now more than ever, you need practical experience and knowledge to make the most of the opportunities&nbsp;ahead.</p>
                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">&nbsp;</p>

                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">That’s why we’ve created the <b>Professional Certificate in FinTech for Finance and Business Leaders</b> – an online programme consisting of three courses designed specifically for finance&nbsp;professionals.</p>
                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">&nbsp;</p>

                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">Covering cybersecurity, machine learning, Python, robotic process and intelligent automation, you’ll learn the practical skills needed to implement the latest technologies in your finance role. Such as how to identify cyber risk, how to use python for data analysis, how to build a business case for automation and much&nbsp;more.</p>
                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">&nbsp;</p>

                                    <p style="margin-top:0;margin-bottom:0;color:rgb(89, 89, 89);word-break:break-word;">So stay ahead of the tech changing the finance profession with ACCA.</p>
                                   
                               </td> 
                           </tr> 
                           <tr> 
                            <td style="FONT-SIZE: 1px; LINE-HEIGHT: 1px" height="25">&nbsp;</td> 
                           </tr> 
                          </tbody> 
                         </table> </td> 
                       </tr> 
                      </tbody> 
                     </table> 
                     <table class="wFull ee_notfixed c-container" border="0" width="100%" cellspacing="0" cellpadding="0" style="table-layout:auto;margin: 0 auto;"> 
                      <tbody class="c-button"> 
                       <tr> 
                        <td align="center" valign="top" style="FONT-SIZE: 1px; LINE-HEIGHT: 1px; mso-line-height-rule:exactly;" height="38"> 
                         <table border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0; border-collapse: collapse; ;"> 
                          <tbody> 
                           <tr> 
                            <td valign="middle" align="left" height="38" style="height:38px;color:white;white-space:nowrap;font-size:14px;line-height:16px;mso-line-height-rule:exactly;color:white; padding-top: 0px; padding-bottom: 0px;background-color:#c80000;font-weight:bolder;border-radius:5px 0 0 5px;padding-left:10px;padding-right:10px;" class="button-middle button-middle-cta"> <a style="margin:0;text-decoration:none;color:white;" target="_blank" href="https://www.edx.org/professional-certificate/acca-fintech-for-finance-and-business-leaders"> <span style="color: rgb(255,255,255);">Register now</span> </a> </td> 
                            <td align="center" width="20" valign="middle" class="button-side-cta" style="font-size: 1px; line-height:1; mso-line-height-rule:exactly;background-color:#c80000;border-radius:0 5px 5px 0;padding-right:8px; padding-top: 0px; padding-bottom: 0px;"> <a style="text-decoration:none; " target="_blank" href="https://www.edx.org/professional-certificate/acca-fintech-for-finance-and-business-leaders"> <img width="16" align="center" style="outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;display: block; width: 16px;" src="http://marketing.accaglobal.com/content/dam/acca-email-templates/icons/white/ico-01.png"> </a> </td> 
                           </tr> 
                          </tbody> 
                         </table> </td> 
                       </tr> 
                       <tr> 
                        <td style="FONT-SIZE: 1px; LINE-HEIGHT: 1px" height="25" colspan="3">&nbsp;</td> 
                       </tr> 
                      </tbody> 
                     </table> </td> 
                   </tr> 
                  </tbody> 
                 </table> </td> 
               </tr> 
              </tbody> 
             </table> </td> 
           </tr> 
          </tbody> 
         </table> </td> 
       </tr> 
      </tbody> 
     </table> 
     <table width="100%" class="ee_notfixed c-footer" align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:auto;width:100%;table-layout: auto;;"> 
      <tbody> 
       <tr> 
        <td align="center" style="line-height:1px;mso-line-height-rule:exactly;"> 
         <table class="wFull" cellspacing="0" cellpadding="0" width="600" align="center" border="0" style="width:600px;table-layout: auto;background-color:#bfbfbf;"> 
          <tbody> 
           <tr> 
            <td class="h" style="FONT-SIZE: 1px; WIDTH: 24px; LINE-HEIGHT: 1px; HEIGHT: 30px" width="24" height="30"></td> 
            <td style="FONT-SIZE: 1px; HEIGHT: 30px; LINE-HEIGHT: 1px" height="30"></td> 
            <td class="h" style="FONT-SIZE: 1px; WIDTH: 24px; LINE-HEIGHT: 1px; HEIGHT: 30px" width="24" height="30"></td> 
           </tr> 
           <tr> 
            <td class="h" style="FONT-SIZE: 1px; WIDTH: 24px; LINE-HEIGHT: 1px;" width="24"></td> 
            <td class="pad" style="WIDTH: 552px" width="552"> 
             <table cellspacing="0" cellpadding="0" width="100%" border="0"> 
              <tbody> 
               <tr style="WIDTH: 100%; DISPLAY: table;" valign="middle"> 
                <th class="tflex"> 
                 <table cellspacing="0" cellpadding="0" border="0" width="100%"> 
                  <tbody> 
                   <tr> 
                    <td align="left"> 
                     <table cellspacing="0" cellpadding="0" border="0" class="c-footer-m-center"> 
                      <tbody> 
                       <tr> 
                        <td> 
                         <table cellspacing="0" cellpadding="0" width="100%" border="0" class="container-wrapper"> 
                          <tbody> 
                           <tr> 
                            <td align="left"> 
                             <table align="left" class="wFull ee_notfixed c-container" border="0" width="100%" cellspacing="0" cellpadding="0" style="width:auto;table-layout:auto;width:100%;margin: 0 auto;"> 
                              <tbody class="c-image"> 
                               <tr class="image-container "> 
                                <td style="line-height:1;position: relative;" class="c-image__td" align="center"> <img width="150" src="http://marketing.accaglobal.com/content/dam/acca-email-templates/general/logo.png" alt="Logo" style="display:inline-block;max-width:100%;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:150px;
                          ;"> </td> 
                               </tr> 
                              </tbody> 
                             </table> </td> 
                           </tr> 
                          </tbody> 
                         </table> </td> 
                       </tr> 
                      </tbody> 
                     </table> </td> 
                   </tr> 
                  </tbody> 
                 </table> </th> 
                <th class="tflex" height="15" width="15"></th> 
                <th class="tflex"> 
                 <table cellspacing="0" cellpadding="0" border="0" width="100%"> 
                  <tbody> 
                   <tr> 
                    <td align="right"> 
                     <table cellspacing="0" cellpadding="0" border="0" class="c-footer-m-center"> 
                      <tbody> 
                       <tr> 
                        <td class="social"> 
                         <table cellspacing="0" cellpadding="0" width="100%" border="0" class="container-wrapper"> 
                          <tbody> 
                           <tr> 
                            <td align="left"> 
                             <table align="left" class="wFull ee_notfixed c-container" border="0" width="100%" cellspacing="0" cellpadding="0" style="width:auto;float:right;table-layout:auto;width:100%;margin: 0 auto;background-image: url('');"> 
                              <tbody class="c-social"> 
                               <tr class="social-container"> 
                                <td align="center"> 
                                 <table border="0" cellspacing="0" cellpadding="0"> 
                                  <tbody> 
                                   <tr> 
                                    <td width="10" class="h" style="line-height:1;width: 10px;"></td> 
                                    <td class="h title-left" style="line-height:1;"> <span style="font-size:16px;font-weight:700;letter-spacing:1px;color:#ffffff;"> Connect with us </span> </td> 
                                    <td width="10" class="h" style="line-height:1;width: 10px;"></td> 
                                    <td style="line-height:1;"> 
                                     <table cellspacing="0" cellpadding="0" border="0"> 
                                      <tbody>
                                       <tr> 
                                        <td style="line-height:1;"> <a href="http://www.facebook.com/ACCA.Official" target="_blank" style="text-decoration:none;"> <img width="30" height="30" alt="" style="outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;width:30px;
                                                            height:30px;" src="http://marketing.accaglobal.com/content/dam/acca-email-templates/icons/white/ico-facebook.png"> </a> </td> 
                                       </tr> 
                                      </tbody>
                                     </table> </td> 
                                    <td width="10" style="line-height:1;width: 10px; FONT-SIZE: 1px; HEIGHT: 8px; LINE-HEIGHT: 1px;"></td> 
                                    <td style="line-height:1;"> 
                                     <table cellspacing="0" cellpadding="0" border="0"> 
                                      <tbody>
                                       <tr> 
                                        <td style="line-height:1;"> <a href="https://www.linkedin.com/school/162244" target="_blank" style="text-decoration:none;"> <img width="30" height="30" alt="" style="outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;width:30px;
                                                            height:30px;" src="http://marketing.accaglobal.com/content/dam/acca-email-templates/icons/white/ico-linkedin.png"> </a> </td> 
                                       </tr> 
                                      </tbody>
                                     </table> </td> 
                                    <td width="10" style="line-height:1;width: 10px; FONT-SIZE: 1px; HEIGHT: 8px; LINE-HEIGHT: 1px;"></td> 
                                    <td style="line-height:1;"> 
                                     <table cellspacing="0" cellpadding="0" border="0"> 
                                      <tbody>
                                       <tr> 
                                        <td style="line-height:1;"> <a href="http://twitter.com/ACCANews" target="_blank" style="text-decoration:none;"> <img width="30" height="30" alt="" style="outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;width:30px;
                                                            height:30px;" src="http://marketing.accaglobal.com/content/dam/acca-email-templates/icons/white/ico-twitter.png"> </a> </td> 
                                       </tr> 
                                      </tbody>
                                     </table> </td> 
                                   </tr> 
                                  </tbody> 
                                 </table> </td> 
                               </tr> 
                              </tbody> 
                             </table> </td> 
                           </tr> 
                          </tbody> 
                         </table> </td> 
                       </tr> 
                      </tbody> 
                     </table> </td> 
                   </tr> 
                  </tbody> 
                 </table> </th> 
               </tr> 
              </tbody> 
             </table> 
             <table cellspacing="0" cellpadding="0" width="100%" border="0" style="color:#ffffff;"> 
              <tbody> 
               <tr> 
                <td style="FONT-SIZE: 1px; HEIGHT: 30px; LINE-HEIGHT: 1px;
                                            " class="footer-spacer" height="30"> &nbsp; </td> 
               </tr> 
               <tr> 
                <td class="copyright" align="center" style="font-size:12px;line-height:1;padding-top:10px;mso-line-height-rule:exactly;"> Copyright @ 2021 The Association of Chartered Certified Accountants. All rights reserved. </td> 
               </tr> 
               <tr> 
                <td class="copyright" align="center" style="font-size:12px;line-height:1;padding-top:10px;mso-line-height-rule:exactly;"> Registered office: The Adelphi, 1-11 John Adam Street, London, WC2N 6AU </td> 
               </tr> 
               <tr> 
                <td style="FONT-SIZE: 1px; HEIGHT: 20px; LINE-HEIGHT: 1px" height="20">&nbsp;</td> 
               </tr> 
               <tr> 
                <td class="copyright" align="center" style="font-size:12px;line-height:1;padding-top:10px;mso-line-height-rule:exactly;"> <span>&lt;%@ include view='acc_unsubBlock' %&gt; </span> </td> 
               </tr> 
               <tr>
                <td style="FONT-SIZE: 1px; HEIGHT: 10px; LINE-HEIGHT: 1px" height="10">&nbsp;</td> 
               </tr>
               <tr class="in-browser" style="font-weight:normal;font-size:12px;mso-line-height-rule:exactly;line-height:13px;"> 
                <td align="center"> <span>&lt;%@ include view="MirrorPage" %&gt; </span> </td> 
               </tr> 
              </tbody> 
             </table> </td> 
            <td class="h" style="FONT-SIZE: 1px; WIDTH: 24px; LINE-HEIGHT: 1px;" width="24"></td> 
           </tr> 
           <tr> 
            <td class="h" style="FONT-SIZE: 1px; WIDTH: 24px; LINE-HEIGHT: 1px; HEIGHT: 20px" width="24" height="20"></td> 
            <td style="FONT-SIZE: 1px; HEIGHT: 30px; LINE-HEIGHT: 1px" height="30"></td> 
            <td class="h" style="FONT-SIZE: 1px; WIDTH: 20px; LINE-HEIGHT: 1px; HEIGHT: 30px" width="24" height="20"></td> 
           </tr> 
          </tbody> 
         </table> </td> 
       </tr> 
      </tbody> 
     </table> </td> 
   </tr> 
  </tbody> 
 </table> 
 <!--styles for yahoo app that should added inside body tag--> 
 <style>
    @media only screen and (max-width:680px) {
        .tflex {
            display: block!important;
            width: 100%!important;
            box-sizing: border-box!important;
        }
        .c-grid .c-grid-wrapper {
            display: table-row;
        }
        .c-grid-mobile-divide {
            margin-bottom: 20px;
        }
        .c-fgrid-m-header {
            display: table-header-group !important;
        }
        .c-fgrid-m-footer {
            display: table-footer-group !important;
        }
        .c-fgrid-m-padding {
            padding: 15px !important;
        }
        .c-fgrid-m-no-padding {
            padding: 0px !important;
        }
        .c-fgrid-m-padding-column-top {
            padding-top: 15px !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
            padding-bottom: 0px !important;
        }
        .c-fgrid-m-padding-column-top-divide {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
            padding-bottom: 15px !important;
        }
        .h-grid {
            display: none!important;
        }
        .c-icon-list-full,.c-icon-list-grid {
            margin-bottom: 0!important;
        }
        .c-icon-list-full-container,.c-icon-list-grid-container {
            display: table!important;
            margin: 0 auto!important;
        }
        .career-headline, .career-subline {
            text-align: center!important;
        }
        .fullwidth-middle .pad {
            vertical-align: top!important;
        }
        .c-wrapper .wrapper-container.center-align {
            width: 100% !important;
        }
        .c-wrapper-mobile-with-padding {
            padding: 15px !important;
        }
        .c-wrapper-mobile-no-padding {
            padding: 0 !important;
        }
        .c-wrapper-mobile-no-padding-top-bottom {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .c-wrapper-mobile-no-padding-left-right {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .c-tile .tile-container .table-container {
            height: auto;
        }
        .c-class-footer .footer-social {
            border-right: none!important;
            padding-right: 0!important;
            border-top: none!important;
        }
        .c-class-footer .footer-logo {
            border-left: none!important;
        }
        .c-class-footer .footer-content {
            padding: 10px 15px 10px 15px !important;
        }
        .c-class-footer .footer-content div {
            text-align: center !important;
        }
        .c-class-footer .social-container table {
            margin: 0 auto!important;
        }
        .c-tile-image-right .c-tile-image-left .tile-image-left-content {
            padding: 0!important;
        }
        .c-tile-image-left .tile-image-left-content {
            padding: 20px 0 0 0!important;
        }
        .c-tile-icon-left .icon-left-container .icon-headline .headline-container td {
            text-align: center!important;
        }
        .icon-text .text-container td {
            text-align: center!important;
        }
        .spacer-mobile {
            display: block!important;
        }
        .c-lifetime-box .container-td3 .c-button .button-side {
            width: 29px!important;
            height: 29px!important;
        }
        .c-lifetime-box .container-td3 .c-button .button-middle {
            height: 29px!important;
            font-size: 13px!important;
        }
        .c-job-career {
            border-spacing: 10px !important;
            width: 300px !important;
        }
        .career-th {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
        .career-block {
            width: 100% !important;
        }

        .in-page-navigation-content {
            border: none!important;
        }
        .c-image-with-overlay .mobile-view {
            display: block!important;
        }
        .icon-list-full,.icon-list-grid {
            margin-bottom: 0!important;
        }
        .icon-list-grid-container {
            display: table!important;
            margin: 0 auto!important;
        }
        .c-image .mobile-view {
            display: block!important;
        }
        .top-header-line {
            padding: 5px 0!important;
            width: 100%!important;
        }
        .c-class-header .header-container {
            width: 280px !important;
            border-collapse: separate !important;
        }
        .c-class-header .content-top table {
            width: 280px !important;
        }
        .c-class-header .content-left {
            border-right: 0 !important;
        }
        .c-class-header .c-container {
            margin-top: 8px!important;
            margin-bottom: 6px!important;
        }
        .c-class-header .content-middle {
            border-right: 0 !important;
        }
        .c-class-header .top-divider {
            width: 72px!important;
        }
        .c-class-header .middle-top-text {
            font-size: 9px!important;
            mso-line-height-rule:exactly!important;
            line-height: 10px!important;
        }
        .c-class-header .content-middle-main {
            font-size: 28px!important;
            line-height: 30px!important;
        }
        .c-class-header .content-middle-bottom div {
            font-size: 9px!important;
            margin: 14px 0px 16px!important;
        }
        .c-class-header .content-bottom-item {
            border-bottom: 2px solid black !important;
            border-right: none !important;
        }
        .c-class-header .content-bottom-item div{
            padding: 9px 0!important;
        }
        .c-class-header .item-last {
            border-bottom: none !important;
        }
        .focused-event-container .text-section div {
            margin-top: 25px!important;
            margin-bottom: 25px!important;
        }
        .future-events-container .text-section div {
            margin-top: 25px!important;
            margin-bottom: 25px!important;
        }
        .btn-section .c-container {
            table-layout: fixed!important;
        }
        .c-footer .social .c-container {
            float: none!important;
        }
        .c-footer-m-center {
            margin: auto;
        }
        .fl {
            float: left!important;
        }
        .fr {
            float: right!important;
        }
        .wr {
            display: block!important;
        }
        .ib {
            display: inline-block!important;
        }
        .h {
            display: none!important;
        }
        .autoh {
            height: auto!important;
        }
        .head {
            display: table-header-group!important;
            width: 100%!important;
        }
        .foot {
            display: table-footer-group!important;
            width: 100%!important;
        }
        .talignl {
            text-align: left!important;
        }
        .talignr {
            text-align: right!important;
        }
        .talignc {
            text-align: center!important;
        }
        .wFull {
            width: 100%!important;
        }
        .font18 {
            font-size: 18px!important;
            line-height: normal!important;
        }
        .font22 {
            font-size: 22px!important;
            line-height: 24px!important;
        }
        .pad {
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
        .career-image img {
            width: 100%!important;
        }
    }
</style>   
</body><body></body>