        <tr class="mhide">
          <td style="padding-bottom:14px;"><a href="#[heritage]" target="_blank" title="DISCOVER OUR HERITAGE"><img src="img/CIT0929_pjb_cta_1d.png" alt="DISCOVER OUR HERITAGE" style="display:block;border-style:none;"></a></td>
        </tr>

         <!--[if !mso]><!-->
          <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
            <td style="padding-left:26px;padding-right:26px;">

              <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
                <tr>
                  <td style="background-color:#9e8d7b;">
                    <table cellpadding="0" cellspacing="0" style="width:100%;min-width:100%;margin-left:0;margin-right:0;">
                      <tr>
                        <td align="left"><a href="#[heritage]" target="_blank" title="DISCOVER OUR HERITAGE" style="display:block;width:100%;min-width:100%;"><img src="img/CIT0929_pjb_cta_1d2.png" alt="DISCOVER OUR HERITAGE" style="display:block;border-style:none;margin-left:o;margin-right:auto;"></a></td>
                        <td width="32"><a href="#[heritage]" target="_blank" title="DISCOVER OUR HERITAGE"><img src="img/CIT0929_pjb_arrow.png" alt="DISCOVER OUR HERITAGE" style="display:block;border-style:none;"></a></td>                           
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="height:14px;line-height:14px;font-size:14px;">&nbsp;</td>
                </tr>

              </table>

            </td>
          </tr>    
          <!--<![endif]-->
